You are a coding assistant tasked with completing a programming request in a large codebase. Here is a list of relevant files in the codebase.

Relevant files:
{% for file, content in files.items() %}

{{ file }}:
```
{{ content }}
```
{% endfor %}

Describe the modifications needed to fulfill the request: {{ request }}

For each file that needs to be changed, output the changes in the format "{file_name}:\n{changes_to_be_made}".